default: &default
  adapter: mysql2
  encoding: utf8mb4
  username: root
  password: 28112002
  host: localhost

development:
  <<: *default
  database: e-commerce

test:
  adapter: sqlite3
  database: db/test.sqlite3
  pool: 5
  timeout: 5000

