.small-thumbnail {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    text-decoration: underline;
    transform: translateY(-2px);
    color: var(--mat-primary-500);
  }
}

.a {
    &:hover {
    text-decoration: underline;
    transform: translateY(-2px);
    color: var(--mat-primary-500);
  }
}

.no-bullets {
  list-style: none;
  padding: 0;
  margin: 0;
}
